<!-- scrollBtn -->
<button class="c-scrollBtn js-scrollTop"></button>
<!--/ scrollBtn -->
<!-- scripts -->
<%- include('_footer'); -%>
<!--/ scripts -->
<!-- scripts -->
<script src="<%= relativePath %>-assets/js/vendor.bundle.js?date=<%= time %>"></script>
<script src="<%= relativePath %>-assets/js/script.bundle.js?date=<%= time %>"></script>
<!--/ scripts -->
</body>
</html>
